@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* alterando o box model */

* {
    box-sizing: border-box;
}

/* declarações váriaveis (sempre no :root)  */

:root {

    --cor-titulo: #4d4d4d;
    --cor-texto: #333;
    --cor-escura: #000;
    --cor-clara: #fff;
    --cor-intermediaria: #ececec;

}

/* valor de referencia/ base para o uso da medida REM */
html {
    font-size: 16px;
}

body,
h1,
h2,
p,
figure,
.links-menu {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: "Noto Sans", sans-serif;
    color: var(--cor-texto);
}

a {
    text-decoration: none;
}

.titulo {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    /*extra bold*/
    font-size: 1.5trem;
}

.titulo a {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    padding: 0.3rem 1rem;
    border-radius: 4px;
}

.topo {
    position: sticky;
    top: 0;
    background-color: var(--cor-clara);
}
/* cabeçalho/topo "cheio", ou seja , pegando 100% da tela e fixado. */
.topo .limitador {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
/*   */

/* classe que será aplicada em algumas partes do site visando criar limites de tamanho  */
.limitador {
    width: 95vw;
    max-width: 1000px;
    margin: auto;
    /* background-color: yellow; */
    }

.titulo-menu a {
    color: var(--cor-escura);
    font-size: 1.2rem;
    padding: 1rem;
    background-color: white;
    display: inline-block;
}

.menu a:hover {
    background-color: var(--cor-intermediaria)
}

.links-menu {
    list-style: none;
    display: none;
}

.links-menu a {
    color: var(--cor-escura);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.links-menu.aberto {
    /* fazemos com que os links aparecerem e ao mesmo ter acesso a todas as vantagens do flex */
    display: flex;
    /* fazemos com que os links fequem dispostos comocoluna (verticalmente) */
    flex-direction: column;
    position: absolute;
    /* usamos o position absolute para"soltar" a lista de links na tela e com as propiedades/coordenadas left e right ajustar sua posição en relação as laterais  */
    left: 0;
    right: 0;
    background-color: var(--cor-clara);
}

.destaque {
    background-image: url(../imagens/fundo-destaque.jpg);
    height: 75vh;
    background-attachment: fixed;
    color: var(--cor-clara);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* etapa 1: regra de animação */
@keyframes animadestaque {
    from {
        opacity: 0;
        transform: translateY(-500px) scale(0.5) rotateX(360deg);
    }

    to {
        opacity: 1;
        transform: translateY() scale();
    }
}

/* etapa 2: aplicar a animação */
.destaque h2,
.destaque p {
    animation-name: animadestaque;
    animation-duration: 3s;
    /* animation interation infiniti e 
 abination-direction para animação. */
    /* função clamp () usadapara definir um valor que se ajusta dinamicamente entre em valor minimo, IDEAL/flexivel/variave e MAXIMO */

}

.destaque h2 {
    font-size: clamp(3rem, 10vw, 7rem);
}

article h2 {
    padding: 1rem;
    font-size: 1.4rem;
    font-family: Rela;
    color: var(--cor-titulo);
}

article p {
    padding: 0.5rem 0;
    font-size: 1.2rem;
}

article address {
    font-style: normal;
    font-size: 1.2rem;
}

.front-end,
.historia,
.localizacao {
    text-align: center;
}

.historia {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed;

}

.historia iframe {
    width: 100%;
  width: 100%;
  margin-top: 2rem;
  max-width: 700px;
}

.historia h2 {
    color: var(--cor-clara);
   
   
    text-shadow: var(--cor-escura)2px, 2px, 5px;
    
}

.localizacao iframe {
    width: 100%;
    
}

.rodape {

    background-color: var(--cor-escura);
    color: var(--cor-clara);
    height: 30vh;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.conteudo-geral {

    background-color: var(--cor-intermediaria);
    padding: 0.5rem;
}

.conteudo-geral h2 {
    padding-left: 0;
    font-size: 1.8rem;
    border-bottom: solid 1px;
}

/* regras para tabela */
table {
    border: solid 6px var(--cor-escura);
    width: 80%;
    max-width: 600px;
    margin: auto;
    /* remove o espaçamento entre as bordas */
    border-collapse: collapse;
}

caption {
    text-transform: uppercase;
    font-size: 1, 2rem;
    padding-bottom: 0.3rem;
}

th,
td {
    border: solid 1px var(--cor-escura);
}

th {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    padding: 0, 5rem;
}
td {
    padding: 0,4rem;
}
/* estamos selecionando os segundos <td> */
td:nth-child(2){ text-align: center;}

td:last-child, th:last-child {
text-align: right;}
/* selecionando linhas alternadas. Podemos usar even(par) ou odd impar */
tr:nth-child(even){ background-color:rgb(186, 181, 181);}

.galeria img { 
     border-radius: 50%;
     box-shadow: var(--cor-texto) 0 0 18px;
     transform: scale(0.8) rotate(-30deg);     
     transition: 0.5;      
}
.galeria img:hover { 
    transform: scale(1);

}
